[2019-03-28 18:16] ravi6456 opened #1 "Test issue"
Test issue

[2019-03-28 18:20] #1 closed, assigned to nobody

[2019-03-29 07:29] marxxxx opened #2 "Table Query with OrderBy fails"
[This comment](https://github.com/MicrosoftDocs/azure-docs/issues/19489#issuecomment-472250326) suggested that OrderBy("RowKey") is now possible to sort data in a Table by RowKey achieving a similar behavior to what Storage Table offers.

However, trying a query with this feature failed.

 I am using the NuGet Package Microsoft.Azure.Cosmos.Table 1.0.0 in a .NET Core 2.2 based console application.

[2019-04-03 07:04] wmengmsft commented on #2
@marxxxx, the issue is that `table.CreateQuery<TelemetryTableEntity>()` returns a TableQuery object that is intended for Linq expression based queries. It cannot be used with fluent style .Where(<odata filter>) based query pattern.

In previous versions of Table SDK this would throw an error (NotSupportedException). In this version we have a bug where this validation is not happening so the behavi

[2019-04-03 09:25] marxxxx commented on #2
@wmengmsft  Thank you for your response! I can confirm that the other approach, using `new TableQuery<T>` worked.
Are linq expression based querys already supported? I could not find an example for it in the Sample-Repository.

[2019-05-19 17:33] seniorquico opened #3 "Microsoft.Azure.Storage.Common dependency"
TLDR: Is it planned and/or possible to refactor this library to depend on the common classes found in `Microsoft.Azure.Storage.Common` 10.x? I'm trying to migrate code from `WindowsAzure.Storage` 9.3.3, but it's proving *very* difficult due to the duplication of common classes (`StorageException`, `CloudStorageAccount`, etc.).

----

We have a system built with Microsoft Orleans on .NET Standard,

[2019-05-20 17:16] donghexu commented on #3
Hi @seniorquico, we the Cosmos DB team has developed a new .net standard sdk Microsoft.Azure.Cosmos.Table (https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table), which removed the dependency on Storage.Common and remained classes and advanced features. Please use that to unblock you. Here is the sample project for reference: https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-ge

[2019-05-20 19:48] michaelkruglos opened #4 "SetServiceProperties fails when sent to Azure Storage Emulator"
SetServiceProperties fails with 400 Bad Request when sent to Azure Storage Emulator.

Code to reproduce:
[code]

Sniffing the request produces the following:
[code]

Notice the redundant questionmark in the beginning of the request body. After some investigation I came to a conclusion, that this questionmark is BOM, and this is what breaks the request.

The test project I've written uses target fr

[2019-05-20 20:12] seniorquico commented on #3
@donghexu Yes, I know that package exists. I referenced it in the original post. It's the _lack_ of the dependency on `Microsoft.Azure.Storage.Common` that's blocking our migration. Are you confirming that Microsoft Orleans will need to duplicate all of the common code, e.g. parsing `StorageException`, to support the new `Microsoft.Azure.Cosmos.Table` SDK?

[2019-05-21 20:19] vmendi commented on #3
Hi!

This issue is also affecting us and we'd love to see Microsoft Orleans ported to the new Microsoft.Azure.Cosmos.Table as soon as possible.

PR's to the old table library are being closed because of this transition, and those fixes were important!

Please let us know if we can do anything to help.

[2019-05-21 21:52] donghexu commented on #4
Hi @michaelkruglos Thanks for reporting this. The DeleteRetentionPolicy field is only supported by Blob service, so DeleteRetentionPolicy shouldn't be included to set service properties against Azure Storage Table service. We will fix this bug and remove DeleteRetentionPolicy field in future sdk release. For further information about SetServiceProperties, please refer to: https://docs.microsoft.co

[2019-05-21 21:56] wmengmsft commented on #3
Hi @seniorquico, the Cosmos DB Table SDK is an entirely new Table SDK designed to cater for the needs of both Azure Storage Table API and Cosmos DB Table API. We retained most of the API surface from Azure Storage to reduce the learning curve / transition cost. However, when it comes to cross-cutting APIs such as OperationContext and StorageException, we find the need to fork the implementation du

[2019-05-21 22:58] seniorquico commented on #3
Thank you for confirming the direction of this library, @wmengmsft. I'll relay this information back to the Orleans issue.

[2019-05-21 22:58] #3 closed, assigned to nobody

[2019-05-21 23:06] seniorquico commented on #3
@wmengmsft Sorry to double post, but...

Transition cost? Sorry, I don't see how this new library helps reduce it. I have a large number of use cases where blob & table code are intermixed, especially for cross-cutting concerns. Microsoft Orleans was really just one example. Given the fork, I'm now looking at a very significant effort to migrate.

[2019-05-22 08:25] michaelkruglos commented on #4
You're right I should not have sent DeleteRetentionPolicy to table service.

[2019-05-22 08:25] #4 closed, assigned to nobody

[2019-06-01 00:32] seniorquico opened #5 "`NameValidator` and `StorageErrorCodeStrings` missing after migrating to `Microsoft.Azure.Cosmos.Table`"
I'm working on migrating the Microsoft Orleans providers from `WindowsAzure.Storage` to `Microsoft.Azure.Cosmos.Table`. I've hit a snag with two classes that have changed visiblity. Namely, `NameValidator` and `StorageErrorCodeStrings`. These used to be `public`, but now they're `internal`. Here are examples of where they're being used (in my WIP fork/branch):

[`NameValidator.ValidateTableName`](

[2019-06-04 22:14] donghexu commented on #5
Hi @seniorquico Thanks, I'll fix it in the next release.

[2019-06-07 18:54] ggirard07 commented on #5
@donghexu same thing with `TableErrorCodeStrings` now being internal in `Microsoft.Azure.Cosmos.Table` while it is public in `Microsoft.WindowsAzure.Storage.Table`.
Can you fix it too at the same time?

[2019-06-20 20:29] csreddyennam opened #6 "Unable to connect to DocumentDB"
Describe the bug
When we connect o DocumentDB, unable to open connection to cosmoDB.
The same work when we have .Net Core 2.0
Below are the version we are using:
.Net Core 2.2
Package used:
Visual studion: 2017 (15.9.12)

Exception or Stack Trace
InnerException = {System.Net.Sockets.SocketException (10060): A connection attempt failed because the connected party did not properly respond after a pe

[2019-06-21 17:01] donghexu commented on #6
Hi @csreddyennam
I don't see Table sdk is used in your example, and I don't think Table sdk alllow passing in HttpClientHandler. What is your scenario using table and can not connect to cosmos? Could you elaborate more?

Thanks,

[2019-06-21 19:07] csreddyennam commented on #6
Hi Donghexu,

I am unable to connect to CosmoDB from behind the proxy, when you run the above sample program you can see the issue.

Please see the below error message:
["One or more errors occurred. (A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond)",

[2019-06-21 19:09] donghexu commented on #6
Hi @csreddyennam Could you tell us you are using Table API or SQL API? From your sample I don't see Table scenarios.

[2019-06-23 07:49] csreddyennam commented on #6
Hi Donghexu, Initially client connect itself failing, it fails at DocumentClient open connection.

[2019-06-23 15:37] donghexu commented on #6
Hi @csreddyennam, could you please let us know if you are experiencing issue with Cosmos Table SDK or not? From your example you are using the SQL SDK which unfortunately we can not provide deeper help. If you have scenarios with Table SDK, please let us know the details. Thank you,

[2019-06-26 03:03] csreddyennam commented on #6
the above issue got resolved by replacing the clientHandler as below and connection mode with GateWay.

var clientHandler = new System.Net.Http.HttpClientHandler()
                {
                    Proxy = new System.Net.WebProxy("http://XXXXXX", false),
                    PreAuthenticate = true,
                    UseDefaultCredentials = false,
                    UseProxy = true,

[2019-06-26 03:03] #6 closed, assigned to nobody

[2019-06-29 18:54] seniorquico commented on #5
@donghexu Any idea when the next release will be ready?

[2019-07-09 23:34] thered121 opened #7 "System.MethodAccessException when attempting to query CosmosDB using Table API"
Attempting to use the Azure.Cosmos.Table libraries on an Ubuntu Linux container (specifically https://github.com/cloudfoundry/dotnet-core-buildpack/releases/tag/v2.2.12) is resulting in

System.MethodAccessException: Attempt by method 'Microsoft.Azure.Cosmos.Table.Extensions.TableExtensionExecutor.ExecuteQuerySegmented(Microsoft.Azure.Cosmos.Table.TableQuery1&lt;!!1&gt;, Microsoft.Azure.Cosmos.Tab

[2019-07-10 23:22] donghexu commented on #7
@thered121 , what does your dependencies versions look like? Especially the Microsoft.Azure.Document.Core. Thanks

[2019-07-11 17:38] donghexu commented on #2
Hi @marxxxx no actually, linq expression right now doesn't support order by. Closing the issue.

[2019-07-11 17:38] #2 closed, assigned to nobody

[2019-07-24 12:22] Vhab commented on #5
This is blocking us from migrating as well

[2019-07-26 17:11] IdeaHunter opened #8 "Microsoft.Azure.Cosmos.Table doesnt support filterting"
I have tried to use filtering on PartitionKey and it not working
[code]
subitemQuery loads 2 items whenever it should load single item
also i used fiddler to check what kind of request it made and i expected something like ?$filter=PartitionKey eq '1' in a request url but it simply isnt there
![image](https://user-images.githubusercontent.com/10799080/61968898-d22a4a00-afe1-11e9-8657-fe3cb0bb61ed.

[2019-07-26 21:45] donghexu commented on #5
Hi All, we just release 1.0.4-preview with that fix. Please try it out. Thanks!

[2019-07-26 21:45] #5 closed, assigned to nobody

[2019-07-30 20:29] donghexu commented on #8
Hi @IdeaHunter, Thanks for reporting this. I also notice this won't work either with the legacy storage sdk as well. I'll see if this is by design or an actual bug.

Alternatively, you can still use the following for Query:
subitemQuery = new TableQuery<AuditEntity>();
            subitemQuery.Where(
                TableQuery.GenerateFilterCondition(
                    "PartitionKey", QueryCompa

[2019-07-31 14:58] IdeaHunter commented on #8
@donghexu it is look by a design, however i have found a way to do to queries, but API is very unusual
[code]
First it understands Linq, second after the query had been build , ToList should be called on **query** and not ExecuteQuery on table. Calling ToList is the only way to apply query. Also the fact that you can set FilterString is not supported(not sure why it is possible via api). With how

[2019-07-31 17:18] donghexu commented on #8
Hi @IdeaHunter , thanks very much for the information. As you mentioned, the API is unusual, so my recommendation is to use the common pattern as mentioned above.
The way you pasted seems only work for Quaryable case that understanding Linq, I'll explore it in a later manner.
I will evaluate the FilterString access level. But since it is public since the beginning, I doubt we should now make the s

[2019-08-02 15:29] liquidsnk opened #9 "Is this a placeholder repository for Microsoft.Azure.Cosmos.Table?"
Corresponding to this nuget package https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table?

If so, any idea on when the source would be available? Or am I looking in the wrong place?

[2019-08-08 05:42] wahyuen commented on #7
getting an extremely similar exception attempting to port over to `Microsoft.Azure.Cosmos.Table`. This seems to only be a problem when initialising the `CloudStorageAccount` and subsequent `CloudTableClient` from a .Net Core WebAPI project. Unit tests and console applications performing the exact same calls seem to work completely ok.

[code]

Currently targetting `Microsoft.Azure.Cosmos` 3.1.0 an

[2019-08-08 14:50] donghexu commented on #7
@wahyuen, thanks for the input. We recently also noticed this and has found there is an issue on DocumentDB.Core 2.5.1. We released new Table SDK to take it out. And we are working with the DocumentDB.Core team to fix their issue. Currently downgrade to any version lower than 2.5.1 should be good.

[2019-08-08 15:12] rislanov opened #10 "Memory leaks using client per request strategy"
Hello!

We've tried to create a new instance of CloudTableClient per each request to storage (AddTransient in IoC container, for example) and it caused a memory leak.

So, after only a 500 requests to storage, we have a disproportional memory consuption:

[code]

![client_per_request_leaks](https://user-images.githubusercontent.com/3593542/62713487-7d38fb80-ba05-11e9-8573-570ef6636fea.png)

But if

[2019-08-08 18:29] donghexu commented on #10
Hi @rislanov, Thanks for providing us such detailed info! It is always recommended to reuse CloudTableClient. CloudTableClient is thread-safe. Here is some tips: https://azure.microsoft.com/en-us/blog/performance-tips-for-azure-documentdb-part-1-2/. It is for DocumentClient and some of it are applied to CloudTableClient as well.

[2019-08-09 14:49] rislanov commented on #10
Anyway, if we will use old SDK and CloudTableClient for Azure Table Storage, there will be no leaks with "client per request strategy":

![old_client_ok](https://user-images.githubusercontent.com/3593542/62787480-7970ac00-bacd-11e9-802b-98bebe58557f.png)

So it seems to me, it looks like a bug :)

[2019-08-09 17:26] donghexu commented on #10
Hi @rislanov. Thanks again. So let's split the problem into 2 parts:
1. In general, regarding CloudTableClient use pattern, we always recommend reusing CloudTableClient per domain, especially for Cosmos DB path. It can gain efficient connection management and performance. We don't recommend creating CloudTableClient for each new request, as it can create much overhead.
2. As to the memory leak onl

[2019-08-15 08:48] vip32 commented on #7
experiencing a similar issue when using Microsoft.Azure.Cosmos.Table 1.0.1 and DocumentDB.Core 2.5.1.

System.MethodAccessException : Attempt by method 'Microsoft.Azure.Cosmos.Table.Logger.LogInformational(Microsoft.Azure.Cosmos.Table.OperationContext, System.String, System.Object[])' to access method 'Microsoft.Azure.Documents.DefaultTrace.TraceInformation(System.String)' failed.

downgrading to

[2019-08-18 16:37] KalyanChanumolu-MSFT opened #12 "Using a property named "ID" throws serialization exception"
Using a property named "ID" throws the below serialization exception

Cannot deserialize the current JSON object (e.g. {"name":"value"}) into type 'System.String' because the type requires a JSON primitive value (e.g. string, number, boolean, null) to deserialize correctly.
To fix this error either change the JSON to a JSON primitive value (e.g. string, number, boolean, null) or change the deseria

[2019-08-18 16:40] KalyanChanumolu-MSFT commented on #12
Referencing [Git Issue# 35929](https://github.com/MicrosoftDocs/azure-docs/issues/35929)
Tagging @wmengmsft for info

[2019-09-10 18:51] BenKoth opened #14 "DateTime Format"
SDK Version: 1.0.1
Steps to reproduce:

I have a table entity class with a DateTime property. When I query the resulting data using the Azure Document Client, the JSON returned is in a format I don't recognize. The reason I'm using the document client was to try and reproduce how the data is imported to Power BI Desktop. The DateTime appears correct when viewed in the portal or through the Microso

[2019-09-10 18:59] donghexu commented on #14
Hi @BenKoth, at the backend the data is stored in the format that is not visible to customers. SDK will do the conversion so when you use Table SDK, you will see the DataTime type property is in the correct format. The same thing to Storage Explorer, there is a translation logic underline. We encourage to use Table SDK to connect with Cosmos DB Table API.

Thanks,

[2019-09-10 19:01] BenKoth commented on #14
That's great except that the Azure Cosmos DB is now an option in Power BI. How are we supposed to translate that value to a DateTime in PowerBI?

[2019-09-10 19:11] BenKoth commented on #14
Also, perhaps the documentation should be updated.
https://docs.microsoft.com/en-us/azure/cosmos-db/working-with-dates
That claims the date's are stored in ISO-8601 format when you are saying they are stored in some other format.

[2019-09-25 15:02] MisinformedDNA commented on #9
Alternate question: Is the source _ever_ going to be available?

[2019-09-25 15:07] MisinformedDNA opened #15 "Namespace consolidation to Cosmos DB endpoint"
The README.md (and other release notes) says

What does that mean exactly? Are Azure Tables being deprecated? Or absorbed into Cosmos? Will there still be a non-premium table storage option?

[2019-09-25 16:29] ThomasWeiss commented on #15
@MisinformedDNA This remark only applies to the Table SDK, not the cloud services. We have consolidated our SDK efforts so you can now use a single SDK (the one from this repo) to interact with both Azure Table Storage and Cosmos DB's Table API.
There's currently no concrete plan to deprecate/retire the Azure Table Storage service.

[2019-09-25 16:32] ThomasWeiss commented on #9
@MisinformedDNA Yes, and we apologize for the delay, but the architecture of the V1 of this SDK just made it impractical to open-source its content. V2 has been re-designed by taking a dependency on our SQL API SDK, and we're in the process of making it open-source.

[2019-10-10 22:11] JeremyCade opened #16 "Unexpected EDM type from the Table Service: Edm.Double"
### Which service(blob, file, queue, table) does this issue concern?
table storage

### Which version of the SDK was used?
WindowsAzure.Storage 9.3.3 and
Microsoft.Azure.Cosmos.Table 1.0.1
Microsoft.Azure.Cosmos.Table 1.0.4
Microsoft.Azure.Cosmos.Table 1.0.5

### Which platform are you using? (ex: .NET Core 2.1)
.NET Core 2.2

### What problem was encountered?
The following exception is encountere

[2019-10-14 09:38] SA-Support opened #17 "CloudStorageAccount ambiguous with Microsoft.Azure.Storage"
Hello,

I am having issues porting our existing WindowsAzure-based project into using `Microsoft.Azure.Storage.*` and `Microsoft.Azure.Cosmos.Table` (1.0.5, .NET Core 2.2). For queues, blob and files the `CloudStorageAccount` class can be shared. The `Microsoft.Azure.Cosmos.Table` package is extending the `CloudStorageAccount` class with `CreateCloudTableClient()`. It seems impossible now to re-us

[2019-10-23 18:06] biltongza commented on #17
I've done this as a workaround:
[code]

[2019-10-29 21:41] ritchxu commented on #15
@ThomasWeiss does this mean if we're using Azure Table Storage, we could switch from using [Microsoft.WindowsAzure.Storage](https://www.nuget.org/packages/WindowsAzure.Storage/9.3.3) to [Microsoft.Azure.Cosmos.Table](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table) without gap? Do we need to migrate data or just switch from one client library to the other?

[2019-10-29 22:02] ThomasWeiss commented on #15
@ritchxu That is correct, you can just switch client libraries with no need to migrate your data. You may need to slightly adjust your `#using` statements as these 2 libraries don't work from the same namespaces, but the underlying API surface is identical.

[2019-10-29 22:03] ritchxu commented on #15
@ThomasWeiss excellent, thanks for confirmation!

[2019-10-31 21:52] wmengmsft commented on #8
Closing this thread. Original issue is due to a mix up of Linq based query API with OData based query APIs.

[2019-10-31 21:52] #8 closed, assigned to nobody

[2019-11-03 22:44] VladimirKhvostov commented on #17
I cannot agree more with original poster. Having both Microsoft.Azure.Cosmos.Table.CloudStorageAccount and Microsoft.Azure.Storage.CloudStorageAccount made super challenging to upgrade.

[2019-11-18 03:24] ghost opened #18 "How do you perform OData queries like "$top" ?"
There is no sample or documentation on using queries like "$top" using this SDK. Please update the docs / samples to include this information.

For example, how do you use this SDK to implement this solution from the docs?
https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-design-guide#context-and-problem-6

[2019-11-18 03:29] ghost commented on #17
The best way I have found is to use your own "conversion extension class". Use it to exchange the CloudStorageAccount instances between the Microsoft.Azure.Storage & Microsoft.Azure.Cosmos namespaces.

I have tried the Json route (Storage -> Json -> Cosmos & vice versa), but this seems to have some challenges, especially when used with System.Text.Json serializers .

[2019-11-18 07:51] ghost commented on #18
For people who get here, here is a solution (after browsing through the SDK's members in Object Browser):

[code]

In the above code:

`AzureTableEntity` is an `ITableEntity`-implementing class type. I am also using the `ITableEntity`'s built-in `Timestamp` property.

The above code will fetch the latest value of `Timestamp` for that table.

[2019-11-20 09:00] wmengmsft commented on #18
@sujayvsarma, there are 2 ways to issue queries using the Table SDK:
- You can use the Linq query provider, as in the example you provided above. Please find more information about it [here](https://docs.microsoft.com/en-us/rest/api/storageservices/writing-linq-queries-against-the-table-service).
- You can also use OData based queries, where you provide the OData filter expression (you can constru

[2019-11-20 09:14] ghost commented on #18
@wmengmsft -

1> The [document you linked to](https://docs.microsoft.com/en-us/rest/api/storageservices/writing-linq-queries-against-the-table-service) does not explain it at all. In fact, what on earth is the `context` object used in the code there? I could not find anything either in the docs that that page links to or in the SDK that provides that functionality. If anything, that document makes

[2019-11-20 09:39] wmengmsft commented on #18
There is a dotnet tutorial in Table API docs which basically describes this sample. However, it looks like the coverage is incomplete and the explanation on table queries are a bit lacking. We will fix it.
We will also bring that sample into this repository so it is easier to discover.

[2019-11-20 09:42] ghost commented on #18
That tutorial uses the older SDK that ran off Storage libraries. The new SDK is apparently completely rewritten and in many places has different & breaking changes. So I don't trust the old tutorials and docs (written for the 1.x series of the libraries) to be useful to work with the 2.x series of the libraries.

[2019-11-22 21:16] dgoranov opened #19 "TableEntityAdapter exception when entity object property contains _"
The following code generates "Microsoft.Azure.Cosmos.Table: Property delimiter: _ exists in property name" exception when using TableEntityAdapter.

    public class TestEntity
    {
        public Int32 Count_Current_Panels { get; set; }
        public Int32 Set_Current_Panels { get; set; }
        public Int32 Count_Calibrations { get; set; }
    }

TableEntityAdapter<TestEntity> entity = new Ta

[2019-11-27 13:39] ghost opened #20 "Feature request - Early warning for size of row"
It is [well documented](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-design-guide) that the Azure Table Service & the Cosmos DB by extension place limit on entity sizes. To recap (from the doc):

- PartitionKey & RowKey must each be a max of 1 KB
- The entire row **including** the system columns (PK, RK & Timestamp) must be a max of 1 MB.
- There is also a limit of 255 columns (i

[2019-11-27 13:40] ghost opened #21 "Feature Request - Key string validation"
The Partition and Row Keys have restrictions in terms of the characters allowed and the total length of the value.

There needs to be validation at the TableEntity level that checks these constraints, before the data is sent off to Azure to be processed.

[2019-11-27 13:56] ghost commented on #19
`TableEntityAdapter` also inherits from `TableEntity` and wraps your class object inside itself to present a TableEntity. You can see the code for it in this archive here:

https://github.com/Azure/azure-storage-net/blob/v9.3.2/Lib/Common/Table/TableEntityAdapter.cs

I am guessing that's the root of your problems.

[2019-11-27 19:13] VladimirKhvostov opened #22 "WriteXml/ReadXml method were removed from the TableContinuationToken class"
Microsoft.Azure.Cosmos**DB**.Table.TableContinuationToken class has WriteXml and ReadXml methods. Unfortunately, these methods do not exist in Microsoft.Azure.Cosmos.Table.TableContinuationToken, which makes upgrading from Microsoft.Azure.CosmosDB.Table to Microsoft.Azure.Cosmos.Table much more difficult.

[2019-12-23 22:49] fuzzzerd opened #23 "TableEntityAdapter thorws Null Reference when <T> doesn't have a property in the underlying table"
** SDK version

Confirmed in Nuget Package
 - v1.0.4
 - v1.0.6

** Issue reproduce steps

1. Create a POCO model class and a ModelAdapter class that inherits TableEntityAdatper<Model>.
2. Add a field to the underlying Azure table that does not exist on the model
3. Run a `TableQuery<ModelAdapter>` query and note the null reference

** Whether the issue is consistent or sporadic

Consistent.

** En

[2020-01-02 16:55] RobLSDev opened #24 "Reduce Debug Output messages"
While debugging locally there is an excessive amount of noise in the Debug Output logs.  The following doesn't serve any purpose to the average developer on our team and just makes it harder to watch for the information they are interested in.  It would be great if there was at least a way to set the debug level programatically in our applications\libraries so we wouldn't have to see this unless w

[2020-01-02 17:30] bjthomson commented on #7
There seems to be a regression bug. This was fixed, now reappeared:
`System.IO.FileLoadException
  HResult=0x80131040
  Message=Could not load file or assembly 'Microsoft.Azure.DocumentDB.Core, Version=2.4.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80

[2020-01-02 17:50] pitscherer commented on #24
Glad I get to know that this behavior is problematic for others as well. I experience the same and was trying to find information on how to configure the debug level but no luck. Having a function to adjust the debug level could turn this nuisance into a great feature in case you need to dig deep or to understand how the very basics of the DLL work.

[2020-01-02 21:16] aimerie commented on #24
Really happy to see this has been reported. I too have been looking for some way to disable this logging, or at least change the severity level so my output window isn't clogged up with Information messages.

[2020-01-10 05:19] allxiao commented on #17
There is no easy way to convert a `Storage.CloudStorageAccount` from/to `Cosmos.CloudStorageAccount`.

* `Storage.CloudStorageAccount` --> `Cosmos.CloudStorageAccount`
   `Key` field in the source account is marked as `internal`, so you cannot rebuild the credential for the target account
* `Cosmos.CloudStorageAccount` --> `Storage.CloudStorageAccount`
   Source account doesn't parse or expose Blo

[2020-01-10 10:46] ghost commented on #17
That would be one way to go.

[2020-01-14 14:15] rasmus-s opened #25 "Nuget package dependency issue"
Can not have nuget package `Microsoft.Azure.Cosmos.Table` and `Microsoft.Azure.Search.Service` in same project due the `Microsoft.Azure.Cosmos.Table` had a hard dependency to the Odata = 7.5. Where `Microsoft.Azure.Search.Service` just want the Microsoft.Spatial greater then.

[code]

Please make a more lose dependency to Odata / Spatial, so you can use multiple of azures features in same project.

[2020-01-19 08:57] djj0809 commented on #24
I'm also facing this issue, can we have a configuration to disable it?

[2020-01-19 13:59] RobLSDev commented on #24
@donghexu - As the only person to do a commit to this repo can you weigh in on this?  Or is there someone else that can be alerted to issues posted in this repo?

[2020-01-21 13:55] VladimirKhvostov opened #26 "CloudTableClient.GetServiceStats is broken in the Microsoft.Azure.Cosmos.Table v2.0.0.0-preview"
CloudTableClient.GetServiceStats is broken in the Microsoft.Azure.Cosmos.Table. It was implemented in v 0.11.0-preview and was broken since then.

Repro:

            CloudStorageAccount storageAccount =
                CloudStorageAccount.Parse(connectionString);

            CloudTableClient tableClient = storageAccount.CreateCloudTableClient();

            TableRequestOptions tableRequestOptio

[2020-01-23 00:54] ordinaryorange opened #27 "Deserialization of enums (or complex properties)"
**SDK version = 2.0.0**

I see that this lib has a dependency on Newtonsoft.Json.
And I'm probably making a big assumption here. But I was hoping that by adding the relevant Newtonsoft.Json attributes that the deserialization process would occur correctly.

Is this an implemented feature ?
Or am I maybe doing it wrong ?

**Issue reproduce steps**
[code]

[2020-01-23 19:37] jason-bragg opened #28 "Duplicate type Microsoft.Azure.Documents.Client.DocumentClient"
We are updating our azure table storage to use Microsoft.Azure.Cosmos.Table 1.0.6 on framework net462.
The service also uses Microsoft.Azure.DocuementDb 2.4.0.

The update is failing to build due to a duplicate type Microsoft.Azure.Documents.Client.DocumentClient which is defined in both Microsoft.Azure.DocumentDb.Core 2.1.3 (included from Microsoft.Azure.Cosmos.Table 1.0.6) and Microsoft.Azure.Do

[2020-01-24 01:38] ordinaryorange commented on #28
I think this library does both Table Storage and Cosmos DB, so you should be able to replace all your old DocumentDB references with the implementation in this library.

[2020-01-24 08:00] GeertVL-zz commented on #9
Any update on making the SDK opensource.
And why is it not a part of the large repository of the Azure SDK?

[2020-01-24 13:22] IngarSaltvik commented on #24
Hi. I also faced the same issue. After studying the disassembly, I was able to figure out that the logging can be disabled with this app.config section:

[code]

[2020-01-24 14:02] RobLSDev commented on #24
OH MY GOD.  This really makes me happy to have a way to suppress these.  I was going insane.  I do think they need to fix this issue by changing it to opt-in instead of opt-out *and* provide proper documentation for it.

[2020-01-24 15:26] aimerie commented on #24
THANK YOU! I agree with @RobLSDev, this should be documented (and opt-in), but nevertheless I am very happy there is a way to suppress these messages today.

[2020-01-24 22:18] jason-bragg commented on #28
@ordinaryorange, Thanks.

Seems to build after replacing Microsoft.Azure.DocuementDb 2.4.0 with Microsoft.Azure.Cosmos.Table 1.0.6.  I am concerned that Microsoft.Azure.Cosmos.Table 1.0.6 includes Microsoft.Azure.DocumentDb.Core 2.1.3 when we were previously running against Microsoft.Azure.DocuementDb 2.4.0.  Do you know if that is a back-rev, and if that could effect our persisted state in produc

[2020-01-24 23:28] geekwhocodes opened #29 "Exception "Parameter count mismatch" while using TableEntity.Flatten"
### Exception "Parameter count mismatch"
I am trying to flatten complex object like List<T> and getting this exception.
This is consistent, Am I doing something wrong here?

**SDK Version** - Microsoft.Azure.Cosmos.Table 1.1.0.6 and NetCore 2.2
**Steps to reproduce :**

[code]

[code]
**Exception "Parameter count mismatch." at
Dictionary<string, EntityProperty> result = EntityPropertyConverter.Fla

[2020-01-24 23:56] LowCarbonGuy opened #30 "Azure Table API - client side encryption with EncryptionPolicy and EncryptionResolver?"
** SDK version v1.0.x

Will Microsoft.Azure.Cosmos.Table have support for client side encryption, or the equivalence of EncryptionPolicy and EncryptionResolver in the old WindowsAzure.Storage nuget package?

https://docs.microsoft.com/en-us/azure/storage/common/storage-client-side-encryption#table-service-encryption

The old Azure Storage SDK API documentation seems to have been removed from https

[2020-01-25 00:08] ordinaryorange commented on #28
DocumentDb.core is the .NETStandard implementation. Comparison to the .NET Framework version does not make sense.
As with any migration to .NET standard/core from .NET framework there might be things that are not implemented so you will need to run all your tests.
I see that Cosmos.Table 2.0.0 pre-release drops the DocumentDb dependency.

[2020-01-31 17:12] tfield-billgo opened #31 "Major Performance Drop with 1.06 compared to old 9.3.3 Library"
SDK: 1.06
To reproduce:  Insert and read back large number of entities.  Noticeable performance decrease even with 1000.
Consistent: yes
Environment: Originally seen in deployment to azure services, reproduced locally with test app and test storage account.  Using Azure Storage, not cosmos.

We've been working to upgrade to the latest version of our libraries and have hit a major snag with azure t

[2020-02-07 00:39] sakash279 commented on #29
Hi, I agree with you that the error is misleading, which we should fix on our end in a subsequent release.
However, your use case is not valid here. You are providing a property (List in your example) which is not supported in the Tables API supported property types : https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-the-table-service-data-model#property-types

[2020-02-07 11:38] geekwhocodes commented on #29
Thanks for the reply. I know that Table storage supports subset of data types defined in Odata specification but would it be possible to add an overload method to support other types which will convert those types to json with default Json converter?

Example :
{"Id":1,"DirName":"c","Childrens":[{"Name":"sys"}]}

[2020-02-07 18:27] ThomasWeiss commented on #29
@geekwhocodes Thanks for your inputs! Your feedback has been added to our backlog and will be considered for future releases. In the meantime, you may want to look at other libraries - like [this one](https://www.nuget.org/packages/ObjectFlattenerRecomposer/) - that address your requirement.

[2020-02-07 23:25] sakash279 commented on #28
I am concerned that Microsoft.Azure.Cosmos.Table 1.0.6 includes Microsoft.Azure.DocumentDb.Core 2.1.3 when we were previously running against Microsoft.Azure.DocuementDb 2.4.0. Do you know if that is a back-rev, and if that could effect our persisted state in production?

[2020-02-09 19:18] geekwhocodes commented on #29
Happy to help!
Gone through [ObjectFlattenerRecomposer](https://www.nuget.org/packages/ObjectFlattenerRecomposer/), code for this package is not available so I am bit worried about using it.

[2020-02-09 19:20] geekwhocodes commented on #29
Happy to help!
Gone through [ObjectFlattenerRecomposer](https://www.nuget.org/packages/ObjectFlattenerRecomposer/). I have my own doubts because code for this package is not available.

[2020-02-10 14:58] FlsZen commented on #24
I'm in the same boat with .NET Core. My `appsettings.json` is configured with a default logging level of "Warning", yet I still get a bunch of information-level log messages when accessing storage tables. I wasn't able to determine how switches would be configured for .NET Core projects since they lack .config XML files.

The below reflection hack changes the logging level to "Warning" for me.

[c

[2020-02-10 20:27] sakash279 commented on #24
thanks for your feedback here. the default here is Informational logging. We will address this issue in the next release of the Tables SDK by improving the documentation on logging, and how to disable/enable it, and set the various levels of logging based on the need.

[2020-02-10 20:59] RobLSDev commented on #24
I would strongly recommend adjusting the default.  The typical consumer of this API doesn't care at all about what is filling up their output, and would only be interested in exceptional cases.

[2020-02-10 22:27] sakash279 commented on #7
@bjthomson - have you tried Microsoft.Azure.Cosmos.Table 1.0.6 with DocumentDB.Core version > 2.6 and above (thru 2.9.x)? I didn't run into issues while testing those versions. I believe there was a conflict due to some interface changes in specific versions of Microsoft.Azure.Cosmos.Table and DocumentDB.Core.

If the above works, we can look into fixing the dependency issues in the next release.

[2020-02-11 00:27] PaulCheng commented on #23
What's your sdk version, can you please share repro code snippet?

[2020-02-11 00:39] sakash279 commented on #14
@BenKoth can you share the code for how you are serializing and de-serializing your date time object?

From your use case, it seems you are inserting data using Tables SDK and retrieving it using Document Client?

[2020-02-11 00:52] #28 closed, assigned to nobody

[2020-02-11 00:56] sakash279 commented on #12
ID is a reserved field. Please reference the doc: https://docs.microsoft.com/en-us/azure/cosmos-db/faq#table

[2020-02-11 00:57] #12 closed, assigned to nobody

[2020-02-11 01:43] PaulCheng commented on #23
This is the same known issue as the post referenced. The proposed fix was never merged into master. We will re-triage this bug during the next release.
If your Model class can extend TableEntity, the missing property scenario is handled properly.

[2020-02-11 02:48] BenKoth commented on #14
I am inserting using the Tables SDK, I am trying to retrieve it into Power BI Desktop, which you have to use the document client for. I had a separate ticket on this on the power bi community as well and they at least gave me a way to format the string. I feel like Power BI needs to update to allow importing dates better since they allow cosmos db as an input source now but also wanted to note the

[2020-02-11 17:16] fuzzzerd commented on #23
.NET Core v3.1.100

Yes, I'm using a `TableEntityAdapter` and not inheriting TableEntity.

[code]
In this case, if the underlying Azure Table has only one field called `Name` everything works fine; however, as mentioned if another field is added to the table, this calling code blows up unless `DataModel` has a matching property.

In this particular case, I do have the ability to change my base mod

[2020-02-12 02:37] davidmatson opened #32 "EntityProperty (and DynamicTableEntity) handling of nulls doesn't match REST API"
EntityProperty distinguishes between null values of different types. I was about to write code to support creating a property with a null GUID vs a null string vs a null Int32, etc. However, from a REST API standpoint, there is no such distinction - any null is a null, and a data type for the null is irrelevant when passed to the storage REST API. Having EntityProperty have a BooleanValue of type

[2020-02-12 02:38] davidmatson opened #33 "Consider removing nulls from EntityProperty/DynamicTableEntity"
EntityProperty currently supports values containing nulls, and for any property "foo" DynamicTableEntity supports both:
1. Adding a property named "foo" with a null value.
2. Not adding a property named "foo" at all.

But both of those options are treated identically by the Table Service REST API, as documented here (search for "null" on each page):
* https://docs.microsoft.com/en-us/rest/api/stor

[2020-02-12 02:39] davidmatson opened #34 "EntityProperty.DateTime is named inconsistently"
The property is named just "DateTime" rather than "DateTimeValue", unlike all the others (including DateTimeOffset).

I understanding fixing would be a breaking change (or require duplicates with both names). If you could change in the next major version, that would be appreciated. Thanks!

(Copied from Azure/azure-storage-net#551.)

[2020-02-12 02:40] davidmatson opened #35 "EntityProperty fixed types don't match REST API"
The EntityProperty class has a bunch of validation (calls to this.EnforceType) that prevent turning a property of one type into another type.

The REST API for tables allows changing the property of a type when updating/merging. To be more precise, it doesn't even care what the old type was  - the type of the property is determined by what is specified anytime the property is created/replaced/merg

[2020-02-12 02:42] davidmatson commented on #32
FWIW, #33 has a broader suggestion to consider; if that suggestion were adopted, this issue would moot. If not, this is worth considering separately.

[2020-02-12 02:42] davidmatson commented on #32
I think the hardest part here is having all the accessor properties be nullable when reading an entity. Having to do things like:
[code]
everywhere instead of just
[code]
isn't ideal.

I think null would be better handled (if at all, as discussed in the other issue) via a bool property.IsNull, which fits the Table Data Model better, rather than having separate nullable versions of every type.

[2020-02-13 11:17] ssdevref commented on #31
I noticed that it was taking close to 60 seconds to load 700 via ExecuteQuerySegmentedAsync(filter, token)
when i dropped back to 1.0.5 it's now back to less than a second. The exact filter used is "(PartitionKey eq '1112222' and UserType eq 'Person')"

[2020-02-13 20:02] tfield-billgo commented on #31
@ssdevref Thank you for the info!  I tested with v1.0.5 and saw no performance issues.

Also, here is a link to the test project: https://github.com/tfield-billgo/table-storage-library-test

[2020-02-18 13:03] abhijitpai commented on #30
@moderakh Can you please comment on this?

[2020-02-19 23:38] golfalot opened #36 "TableClient.StorageUri.SecondaryUri is null when using SAS connectionString"
Firstly may I state the problem DOES NOT occur when using master connection string from the storage account

** SDK version
1.0.6

** Issue reproduce steps
StorageV2 (general purpose v2), Read-access geo-redundant storage (RA-GRS)
Generate a SAS key with permissions as follows
Allowed services: Table
Allowed resource types: Object
Allowed permissions: Read
CloudStorageAccount storageAccount = Clou

[2020-02-20 00:32] golfalot commented on #36
**workaround** using a tweaked connection string SecondaryUri is successfully populated

DefaultEndpointsProtocol=https;AccountName=<myaccount>;SharedAccessSignature=<mysas>;EndpointSuffix=core.windows.net

Side note: the connection string format in my initial issue was generated using Azure Portal.

[2020-02-20 12:54] golfalot commented on #36
**workaround fail!** Although SecondaryUri now has the expected Uri value, an exception is thrown
`Microsoft.Azure.Cosmos.Table.StorageException This operation can only be executed against the primary storage location.`

**When attempting to**
` TableOperation retrieveOperation = TableOperation.Retrieve<CombinedLocationDataEntityConfiguration>(partitionKey, rowKey);
TableResult tableResult = table

[2020-02-24 15:10] chrishawl commented on #10
With regards to the guidance on reusing cloud table client across requests, how would you advise managing that in a scenario where you have to connect to multiple different storage accounts and the connection configuration changes per request? This a scenario we face using table storage.

[2020-02-25 15:56] hugoqribeiro opened #37 "CloudTableClient and IHttpClientFactory or IHttpMessageHandlerFactory"
Hi. I'm using the Microsoft.Azure.Cosmos.Table package (version 1.0.6).

I intended to change the way `CloudTableClient` is initialized to take advantage of `IHttpMessageHandlerFactory` because we're facing scenarios of sockets exaustion derived from accesses to the table storage (the service that uses `CloudTableClient` is transient and there is no viable path to make it singleton).

The problem

[2020-03-01 15:47] #29 closed, assigned to nobody

[2020-03-05 19:39] IngarSaltvik opened #38 "BufferManager support must be re-introduced in Table API 1.0.6"
We have tried moving from Microsoft.WindowsAzure.Storage to Microsoft.Azure.Cosmos.Table, but hit some major performance obstacles in the process. This is currently a blocker for us.

After disabling client tracing (see issue [see reported issue](https://github.com/Azure/azure-cosmos-table-dotnet/issues/24)) we are still seeing a ~25% degradation in performance. From the Azure profiler traces, tim

[2020-03-11 09:59] HQJaTu opened #39 "cosmos-table-sdk/1.0.6 via stunnel into Azure Storage Emulator TLS offloading fails"
## SDK version
cosmos-table-sdk/1.0.6

## Issue reproduce steps
1. Setup local DotNet Core development, including Azure Strorage Emulator
1. Setup stunnel (https://www.stunnel.org/) to offload TLS-traffic, point it to localhost TCP/10002 for emulated Table Storage
1. Using ` Microsoft.Azure.Cosmos.Table.CloudStorageAccount.CloudTableClient` with connection string (notice usage of HTTPS) `AccountNa

[2020-03-31 16:43] trevonmckay opened #40 "Query with filter returns StorageException"
**SDK version:** 1.0.6
[code]

**Consistent issue**
**Environment:** Visual Studio 2019 - Windows 10 (x64)
**Stack Trace**

[2020-04-02 22:46] jgraygi commented on #16
Still happening in version 1.0.6

[2020-04-03 12:59] pilou64 commented on #17
+1

[2020-04-06 10:41] baharedankoyuncu opened #41 "Returned partition and row keys from retrieve operation are null"
Hi,

I'm trying to fetch an entity from Azure Table Storage with the following code.
[code]
Inspecting the `TableResult` object namely `result` and looking into the `Result` property, I see the correct `PartitionKey` and `RowKey` properties. But the `OriginalEntity` property contain nulls for the partition and row key.

I can't seem to figure out why this happens but if I set the table operation t

[2020-04-06 15:08] petro2050 commented on #25
I have the same issue. No update since January? I'm currently unable to install `Microsoft.Azure.Cosmos.Table`.

[2020-04-06 18:48] ahumeniy opened #42 "Querying Azure Table fails"
When using the API version 1.0.6 and trying to do a filter query I get empty results.

Checking with Fiddler the request URL has the single quotes escaped:

Original query (tested in MS Azure Storage Explorer):
`PartitionKey` eq 'user@domain.com'

Request made with API (does not work):
`GET` /table?$filter=PartitonKey%20eq%20%27user%40domain.com%27

Manually crafted request which work:
`GET` /tabl

[2020-04-06 20:36] petro2050 opened #53 "Can't upgrade Microsoft.Azure.Search to the latest version"
I'm stuck with version 7 because another package (Microsoft.Azure.Cosmos.Table) creates dependency issues. Can you please fix this issue?

![snippet](https://user-images.githubusercontent.com/62858360/78602095-7627ee80-781b-11ea-83bb-ea23bb431107.PNG)

[2020-04-07 21:09] ghost commented on #53
Thanks for the feedback! We are routing this to the appropriate team for follow-up. cc @kushagraThapar, @srinathnarayanan, @southpolesteve, @shurd.

[2020-04-09 02:00] maxal1917 opened #43 "Performance degradation comparing to Microsoft.WindowsAzure.Storage when accessing Azure Table storage"
We upgraded to the next version of SDK to access our Azure Table storage.

We observed performance degradation of our application after that. We even created test applications with identical usage pattern to isolate it, and still see this performance hit.

We are using .NET Framework code, reading data from Azure table.

Old client: Microsoft.WindowsAzure.Storage - 9.3.2

New client: Microsoft.Azu

[2020-04-09 16:19] ananto-msft opened #44 "Microsoft.Azure.Cosmos.Table.CloudTable fails to serialize Guid property named "ResourceId""
**Describe the bug**
CloudTable fails to insert instance of TableEntity when there's proeprty named "ResourceId"

**To Reproduce**
Our library is netstandard2.1 and it referencing the following Nuget package: Microsoft.Azure.Cosmos.Table version 1.0.6.
We have class that inherits from Microsoft.Azure.Cosmos.Table.TableEntity. And we have defined Guid property named ResourceId.Example:

`public cla

[2020-04-09 18:52] PaulCheng commented on #44
While using CosmosDB Table store type, ResourceId is 1 of the reserved system properties. Other examples are Id, ETag, etc. I'll file a work item to improve exception message and sdk document.
@Anton, can you work around this by using a different name?

[2020-04-09 19:24] ananto-msft commented on #44
Hi @PaulCheng
Yes, we did get it working with different name. Just wanted to file a bug so we can improve documentation and exception messaging. Also forgot to mention it appears it retries few times before erroring out. So perhaps fail fast would be also desirable for known reserved properties.

Thank you for your quick response. Looking forward the fix.

[2020-04-10 20:04] PaulCheng commented on #43
The performance issue will be resolved in Table SDK 1.0.7 as verified with large entity.
On 1.0.6, the workaround is to disable Table sdk trace by adding diagnostics section in app.config if it's a .NET framework app. It will still be slower than Storage sdk, but much better than without the workaround depending on the usage.

  <system.diagnostics>
    <sources>
      <source name="Microsoft.Azur

[2020-04-10 20:06] PaulCheng commented on #43
<system.diagnostics><sources><source name="Microsoft.Azure.Cosmos.Table" switchName="ClientSwitch" switchType="System.Diagnostics.SourceSwitch" /></sources><switches><add name="ClientSwitch" value="Off" /></switches></system.diagnostics>

[2020-04-10 20:08] PaulCheng commented on #43
source name="Microsoft.Azure.Cosmos.Table"
switchName="ClientSwitch"
switchType="System.Diagnostics.SourceSwitch"

In switches seciontion, add name="ClientSwitch" value="Off"

[2020-04-14 07:06] robbiemu opened #45 "local project runs fine, but in Azure Web app as a web job, it fails"
I am not able to run my webjob on azure because of dependencies in Microsoft.Azure.Cosmos.Table: 1.0.6 (currently that's latest stable release).

** SDK version
csproj:
[code]
app.config:
[code]
Microsoft.Azure.Cosmos.Table: 1.0.6

** Issue reproduce steps
[code]

** Whether the issue is consistent or sporadic
0% locally (at least on my mac dev environment, with mono 6.8.x up-to-date)
100% on Azur

[2020-04-17 10:35] PaulCheng commented on #25
The issue was due to the hard-ver dependency on Spatial from OData.Core. The solution is to update OData.Core to a newer version greater than what Search.Service requires.
1. install table nuget pkg (current version 1.0.7), which references odata core 7.5.0
2. install newer version odata.core nuget pkg, for example 7.6.4
3. install search.service nuget pkg (current version 10.1.0)

[2020-04-17 11:06] PaulCheng commented on #22
It was by design. Even in the deprecating CosmosDB Table 2.1.2, the read/writeXml methods were only compiled for windows desktop version. The new Cosmos Table sdk 1.0.x is a cross-platform .net standard lib, hence those methods were absent/removed.
The continuation token Properties have public setters, so read/write xml didn't have too much value.

[2020-04-21 09:14] b0wter opened #46 "`TableName` field does not accept dashes."
You can use the Azure portal to create tables in an Azure Cosmos DB account that contain dashes, e.g. "my-table-name". However, when I try to use that name in my Azure function project with the `Microsoft.Azure.Cosmos.Table` library I can no longer run the function because I get the following error:
[code]
Changing the name to "myTableName" makes it work.

** SDK version
I am running a .net core 2

[2020-04-21 20:18] gbrohammer opened #47 "Need To Create an IQuerable query as per documentation."
According to the documentation:
https://docs.microsoft.com/en-us/rest/api/storageservices/writing-linq-queries-against-the-table-service

I should be able to create an IQuerable context.CreateQuery<Customer> to consume in a downstream OData endpoint using Automapper projection.

Using dotnet core 3.1 and CreateQuery<T> is not availabe on CloudTable.

Why is the method missing and is there a workar

[2020-04-22 07:41] gbrohammer commented on #47
Nevermind, both namespaces are available for the same types when adding the package.
Microsoft.WindowsAzure.Storage.Table
and
Microsoft.Azure.Cosmos.Table

used the wrong one when trying out previous nuget packages.

[2020-04-22 07:41] #47 closed, assigned to nobody

[2020-04-27 13:27] ghost commented on #43
We also hit this performance issue in version 1.0.6 after updating from 1.0.1 in our azure function apps.  We saw performance 3-10 times slower in release and up to 70 times slower in in debug.  Performance degradation was also non-linear - slower the more entities were being read - 70 times slower was query returning 1700 entities.  If we had not had performance up to 70 times slower we probably

[2020-05-01 14:20] terren-musselwhite commented on #46
Table names can only be alphanumeric (reference: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftstorage). I believe they must also not begin with a number. No hyphens allowed.

[2020-05-03 05:32] tho121 opened #48 "iOS hotreloading fails from any reference to the api (xamarin)"
I'm unable to debug on iOS simulator when implementing the Cosmos.Table api with my xamarin.forms app.  I'm running Visual Studio Community on Windows with a mac paired on the network.  I'm able to debug when I remove all references.  Otherwise, the app builds and attempts to deploy on the simulator but exits before entering the first page of the app.

Microsoft.Azure.Cosmos.Table version 1.0.7

S

[2020-05-03 19:40] tho121 commented on #48
Work around: disable hot reload in Tools -> Options -> Xamarin -> Hot Reload

[2020-05-04 20:30] b0wter commented on #46
Interesting. So the error is either in the documentation or the portal itself? Any idea on where to check that?

[2020-05-04 20:35] terren-musselwhite commented on #46
I'm not really sure what you're asking. The portal doesn't allow hyphens/dashes either:

![azure-table-hyphen](https://user-images.githubusercontent.com/8570601/81010912-e2424600-8e0b-11ea-9db7-e834efabade6.png)

I don't see anything that would tell me they are allowed. Are you able to create them with hyphens through the portal?

[2020-05-11 20:08] b0wter commented on #46
I have no idea what I did initially. Sorry for bothering you. Everything is fine the way it is :sweat:

[2020-05-11 20:08] #46 closed, assigned to nobody

[2020-05-12 09:29] thanga91 commented on #23
Any idea when this will be resolved ?

[2020-05-14 08:57] tompetk commented on #16
Any update on this one?

[2020-05-21 18:17] tfield-billgo commented on #31
I see there has been a new release for the library: https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet-standard#107

Should these performance issues be fixed with this latest release?

[2020-05-21 18:39] tfield-billgo commented on #31
This also seems to be related to https://github.com/Azure/azure-cosmos-table-dotnet/issues/43

[2020-05-28 05:22] joshbouganim commented on #30
@abhijitpai , @moderakh any update or even on comment on this request? `TableEncryptionPolicy` is still not supported in `v1.0.7`

[2020-06-06 17:27] sa3eedo12 opened #49 "TypeLoadException with .NET Native compiled UWP app"
** SDK version
1.0.7 and 2.0.0
** Issue reproduce steps
Create a new UWP project targeting version 1903 and minimum version 18362
Install Microsoft.Azure.Cosmos.Table any of the above versions
Use the library from the UWP project
Build in release mode and run with the debugger
** Whether the issue is consistent or sporadic
Consistent
** Environment Summary
SDK Version: Windows 10 SDK (10.0.18362.0

[2020-06-09 10:51] kellywahl opened #50 "NullReferenceException when using Table API to Query"
When using the code below, I get an "Object reference not set to an instance of an object" on the final line. This happens with Microsoft.Azure.Cosmos.Table version **1.07** and **1.06**, however works perfectly fine on **1.05**.  Is there a breaking change with this new version.  Please see code to reproduce and full stack trace below:

            CloudStorageAccount storageAccount =

[2020-06-12 08:28] iant-ee commented on #50
1.0.6 doesn't even have any release notes.
https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet-standard

I can't find the source code to see what actually changed.

[2020-06-12 11:50] Badabum commented on #40
Same issue with `Microsoft.Azure.Cosmos.Table` v1.0.7

[2020-06-14 13:02] HansOlavS commented on #37
Hi @hugoqribeiro!

I had the exact same issue. Under the hood the CloudTableClient forces ClientHttpHandler as the innermost handler.

My workaround is to hack the whole thing by writing my own DelegatingHandler that actually does the authorization stuff and don't use the InnerHandler, but instead an injected SocketsHttpHandler. This works fine, but it's frustrating to have to hack the SDK this wa

[2020-06-14 13:05] HansOlavS commented on #37
It seems like this issue hasn't been noticed AT ALL by Microsoft, so I'll create another one and see if that gets any traction.

[2020-06-14 13:11] HansOlavS opened #51 "Replace ClientHttpHandler with SocketsHttpHandler"
SDK version: 1.0.7
Issue reproduce steps: N/A
Whether the issue is consistent or sporadic: Consistent
Environment Summary: N/A
Any other context, such as stack trace or log:
it's impossible to control concurrency and TCP connection handling in a proper way with the SDK forcing the use of the now ancient and obsolete ClientHttpHandler as its inner-most handler. I'm stuck hacking a DelegatingHandler

[2020-06-14 13:17] HansOlavS commented on #9
The 2.0 SDK is still in preview, even now after almost a year. Why isn't there any update on this? It seems to me that Microsoft should've open-sourced this a year ago and it would have been in release a long long time ago. The point of open-source is to get important stuff like this SDK out quicker and better. It's free labor - I honestly don't understand why this isn't done yet.

[2020-06-18 18:49] HansOlavS commented on #51
Anyone? Could I get a comment from anyone, please? Is this not even monitored???

[2020-06-19 20:34] MehaKaushik commented on #53
Hey @petro2050 the correct repository for this issue should be https://github.com/Azure/azure-cosmos-table-dotnet/issues

This repository contains the Management SDK for CosmosDB i.e the namespace Microsoft.Azure.Management.CosmosDB

[2020-06-25 11:56] iant-ee commented on #40
I am also seeing this when I use Microsoft.OData.Core (and related packages Microsoft.OData.Edm and Microsoft.Spatial) version 7.6.1 and above. Using 7.6.0 I do not have this problem.

[2020-06-25 11:59] Badabum commented on #40
@iant-ee that's right, in my case it was Microsoft.OData.Core 7.6.4

[2020-06-25 12:02] iant-ee commented on #40
@Badabum Are you saying that it was working for you with 7.6.3? Or just that you first saw it when upgrading to 7.6.4 (from some older version, presumably earlier than 7.6.1)? I'm currently looking at the changelog for 7.6.1 to see I can spot the change the caused this.

[2020-06-25 12:04] Badabum commented on #40
It was 7.6.0 -> 7.6.4 update

[2020-06-25 12:19] iant-ee commented on #40
Looking at the changes in 7.6.1:
https://github.com/OData/odata.net/compare/7.6.0...7.6.1

The breaking change appears to be
https://github.com/OData/odata.net/pull/1488 & https://github.com/OData/odata.net/pull/1532 Support nested query options ($filter, $orderby, $top, $skip, $count, $search, $select, $compute) in $select clause.

[2020-07-01 07:07] sakash279 commented on #50
I tried to repro with the steps you mentioned, but could not get a proper repro of the issue. Could you share the version of the document client  in the setup as well?

I had v2.1.3 in my setup, which is the default Microsoft.Azure.DocumentDB.Core version with SDK 1.0.6.
If you notice the error stack, it is calling into Microsoft.Azure.Documents.Query.. This was apparently a known issue in their n

[2020-07-01 17:11] JoeSchimo opened #52 "Significant performance degration on ExecuteQuerySegmentedAsync between Microsoft.Azure.Cosmos.Table and Microsoft.WindowsAzure.Storage"
I've been researching moving from Storage Account table storage to CosmosDB table storage. Currently I am using the WindowsAzure.Storage (9.3.3) library to query data in a .net core 3.1 application. As part of this migration I have switched to the Microsoft.Azure.Cosmos.Table 1.0.7 library. I wrote the LinqPad benchmark below to compare the performance of both when doing a full table scan.
[code]

[2020-07-01 20:34] sakash279 commented on #50
To be more clear, Microsoft.Azure.DocumentDB.Core versions > 2.11.0 should not have this issue. This is supported with the Tables 1.0.7 package.

[2020-07-08 01:36] AliRafiee opened #54 "TableRequestOptions.TableQueryMaxItemCount is not being honored."
Hi,

I'm using Microsoft.Azure.Cosmos.Table to query a storage account table. I'm trying to get a max of 100 items per query.

This is my query:
[code]

What I get instead is:
Got 530 items
Got 0 items
Got 200 items
Got 67 items
Got 0 items
Got 100 items
Got 300 items
Got 300 items
Got 0 items
Got 199 items
Got 304 items
Total = 2000

I'm not sure what I'm doing wrong here.

[2020-07-09 00:44] johnterickson commented on #31
I think this was fixed in 1.0.7. Is that right?

[2020-07-09 15:10] tfield-billgo commented on #31
This seems to be fixed in 1.0.7

[2020-07-09 15:10] #31 closed, assigned to nobody

[2020-07-10 23:33] PaulCheng commented on #9
CosmosDB team is working with Azure SDK folks defining the best path forward. Hopefully it will be finalized soon.

[2020-07-11 00:00] PaulCheng commented on #51
CosmosDB team is in the process of finalizing the best path supporting table sdk going forward. The latest conversations are leading toward defining the swagger spec and bridge all the gaps on the server side, so the SDK code could be semi-auto-generated if it's rolled under Azure SDK.
During the meantime, I'm wondering whether CloudTableClient object is reused like a singleton in your app. Will '

[2020-07-11 10:53] HansOlavS commented on #51
@PaulCheng Thanks for getting back to me. I'm using the CloudTableClient as a singleton, yes. The main problem is that the SDK is using the now obsolete ClientHttpHandler where it should've used SocketsHttpHandler and allowed us to somehow control the concurrency and TCP connection pooling.

[2020-07-16 06:15] p1kawang opened #55 "ExecuteQuery() / ExecuteQuerySegmented() Consumes Extraordinary Amount of Memory"
Hi,

SDK: Microsoft.Azure.Cosmos.Table(1.0.6)
I'm using this SDK to query my Cosmos Table. I build a filter on two property columns. The query sometimes takes seconds to complete wtih RAM usaged around 250mb. But in most case, it takes around 10 mintues and over 5Gb RAM to complete. This problem shows up on both of `ExecuteQuery()` and `ExecuteQuerySegmented()`. Does anyone have idea how to solve

[2020-07-16 07:39] kellywahl commented on #50
I can confirm that upgrading Microsoft.Azure.DocumentDB.Core to version 2.11.2 (the latest available at the time of posting) has fixed the issue.  Thanks for the help.

[2020-07-16 07:39] #50 closed, assigned to nobody

[2020-07-17 17:04] rnagpal commented on #53
@wmengmsft : Who could look into this and confirm if this issue is fixed?

[2020-07-20 09:11] p1kawang commented on #55
Upgrade to 2.0.0. The problem is solved.

[2020-07-20 09:11] #55 closed, assigned to nobody

[2020-07-20 22:42] sakash279 commented on #24
This has been fixed in 1.0.7 by adjusting the default logging to none.

[2020-07-20 22:42] #24 closed, assigned to sakash279

[2020-07-22 18:23] rnagpal commented on #53
Closing this as a dup of https://github.com/Azure/azure-cosmos-table-dotnet/issues/25.

@petro2050 : Can you please confirm the mitigation steps mentioned there and use that issue to follow up.

[2020-07-22 18:23] #53 closed, assigned to wmengmsft

[2020-07-22 18:26] rnagpal commented on #25
@rasmus-s @petro2050 : Could you confirm if this workaround helped?

[2020-07-24 06:17] #22 closed, assigned to nobody

[2020-07-27 07:12] rasmus-s commented on #25
@rnagpal  its still not working with the available nuget packages.
![image](https://user-images.githubusercontent.com/8188529/88513801-44fd4500-cfe9-11ea-94f8-0f5b8c264e49.png)

Why not fix it in the nuget package (new release of the Search.service nuget) - instead of having developers to deal with a workaround.

[2020-07-28 05:12] PaulCheng commented on #25
@rasmus-s You can create a Support Request from Azure Portal, and we can assist you from there where we can set up a call if necessary.
To create new support request, from portal top right corner, click on ? then Help + support then Create a support request.

[2020-08-05 10:03] Shyam268 opened #56 "Ordereby, OrderebByDesc results same list with azure storage table"
Packages used: "Microsoft.Azure.Cosmos.Table" 1.0.7  https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table
Example:
The following method is used for query the azure storage table:

[code]

When Querying for table using following code

[code]

the entities and entities1 have the same list in the same ascending order

[2020-08-11 04:15] ghidalgo3 commented on #50
Just for posterity I want to report that I also had this exact issue and that upgrading `Microsoft.Azure.DocumentDB.Core` to 2.11.5 fixed it. I am using `Microsoft.Azure.Cosmos.Table.1.0.7`.

What a nightmare!

[2020-08-13 20:43] sakash279 commented on #56
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.table.tablequery.orderbydesc?view=azure-dotnet
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.table.tablequery.orderby?view=azure-dotnet

OrderBy and OrderByDesc are only supported on Cosmos Tables Endpoint, so the behavior is expected as Storage service does not support these. You will have to get the results,

[2020-08-13 20:43] #56 closed, assigned to nobody

[2020-08-13 21:07] sakash279 commented on #49
Could you take a look at the issue which has been discussed here:
https://github.com/Azure/azure-cosmos-dotnet-v2/issues/625

It is on a dependency module: Microsoft.Azure.Documents, and being tracked there.

[2020-08-13 21:07] #49 closed, assigned to nobody

[2020-08-13 22:13] sakash279 commented on #26
fixed in table 1.0.7
@VladimirKhvostov thanks for the fix

[2020-08-13 22:13] #26 closed, assigned to nobody

[2020-08-17 10:50] ddobric commented on #24
Just tried the new version 1.0.7.
Can confirm that noisy Information logs do not appear anymore.
However, now logs do not appear if I try to enable them. For example, the following configuration should make logs visible.

[code]

[2020-08-19 17:24] CaCTuCaTu4ECKuu commented on #17
OMFG I wanted to say that classes in Microsoft.Azure.Cosmos.Table are duplicating ones from Microsoft.Azure.Storage and ask for fixing it but apparently this was not a mistake but someone's genius decision.
As I understand from #3 Cosmos DB team are goind crazy and if year later it's still like this I dont see anyone there will do something to fix this stupidity.

[2020-08-19 17:42] sakash279 commented on #54
we are reviewing this, and being tracked for v1.0.9 release.

[2020-08-19 18:05] sivethe commented on #23
Triaged and accepted for the v1.0.9 release

[2020-08-20 19:26] #15 closed, assigned to nobody

[2020-08-20 19:30] sakash279 commented on #10
@VIPHercules If you have multiple accounts, then you would need that many CloudTableClient instances. Each cloudtableinstance accepts a connection string/storage URI.
However, within an account the need to create a cloud table client per request does not seem feasible, and will lead to memory leaks and other overhead issues described here.

[2020-08-30 07:01] EntityAdam commented on #19
Late to the party, but I saw this trying to solve my own problems.  `TableEntityAdapter` uses the `_` underscore as a delimiter.  You should potentially be able to solve this issue by specifying `EntityPropertyConverterOptions` and asking it to use a different delimiter, but the property names must adhere to C# Identifier names. The only special character really allowed is `_` ... but interestingl

[2020-08-31 04:56] Petchiammal opened #57 "Exception: Type 'Microsoft.Azure.Cosmos.Table.StorageException' in Assembly 'Microsoft.Azure.Cosmos.Table, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' is not marked as serializable."
Hi,
We have created Cloud Service Project using C# in VS2019. We are using Microsoft.Azure.Cosmos.Table of Version 1.0.8 for Azure Storage Table access When we are deploying the cloud service , WebRole shows "Busy. recovering role with some exception". but Worker role shows Running Status.

Stacktrace:
Starting role... Calling OnRoleStart. [2020-08-30T16:05:49Z] Last exit time: [2020/08/30, 16:05:

[2020-09-02 23:44] sakash279 commented on #48
@tho121  - can you share a sample for us to investigate this?

[2020-09-02 23:45] christopheranderson commented on #51
We'll be doing this overhaul in our next major release, v2.0.

[2020-09-02 23:45] christopheranderson commented on #57
@sakash279 We don't intend to make StorageExceptions serializable, at the moment. You need to catch this in your code and extract the relevant information for your debugging purposes. If you handle this exception gracefully, your Cloud Service deployment shouldn't be blocked.

[2020-09-03 00:02] christopheranderson opened #58 "Deprecate TableEntityAdapter"
TableEntityAdapter is not a pattern we want to support anymore. We need to deprecate and then remove it.

This tracks deprecation. See #59 for deletion.

[2020-09-03 00:04] christopheranderson commented on #41
Hi @baharedankoyuncu - thanks for reporting this issue.

We actually recommend not using TableEntityAdapter. Instead, we recommend directly extending TableEntity. TableEntityAdapter has some odd corner cases, as you've seen, that doesn't make it an ideal pattern.

I've created #58 to track deprecating this and then removing it in v2.

[2020-09-03 00:04] #41 closed, assigned to nobody

[2020-09-03 00:06] christopheranderson opened #59 "Delete TableEntityAdapter"
We'll be deprecating TableEntityAdapter (probably in v.1.0.9) - see #58 . In v2, we should remove it from the code base and samples.

[2020-09-08 02:39] WY-S commented on #57
@christopheranderson Hi Christopher. May I ask if we could use [Serializable()] on the relevant code to solve the issue? Like:

[Serializable()]
public static void Cosmos_Tables()
{
 ...
}

[2020-09-08 06:24] sakash279 commented on #36
@golfalot - this issue should be fixed in v1.0.8. Please give it a try, and confirm if you're able to retrieve from the secondary endpoint in table storage.
https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet-standard

[2020-09-08 06:24] #36 closed, assigned to nobody

[2020-09-08 06:27] sakash279 commented on #40
@trevonmckay We've updated the OData dependency versions to 7.6.4 in Tables v1.0.8 and made some fixes around this issue. Please give it a try, and re-open this issue with any repro steps if you still see the problem.

[2020-09-08 06:27] #40 closed, assigned to nobody

[2020-09-08 06:44] sakash279 commented on #25
@rasmus-s, @petro2050  I can confirm that this issue is not present when using Tables v1.0.8 and Search 10.1.0, and should be fixed with updating OData.Core reference in the latest tables release.
Please re-open if you're still hitting this issue, or file a ticket via portal.

[2020-09-08 06:44] #25 closed, assigned to sakash279, PaulCheng

[2020-09-08 06:47] sakash279 commented on #7
no further reoccurence of the issue reported, so closing the issue as v1.0.7, 1.0.8 have not hit this.

[2020-09-08 06:47] #7 closed, assigned to nobody

[2020-09-08 06:50] sakash279 commented on #10
closing as all questions have been answered on the issue. Please re-open if needed.

[2020-09-08 06:50] #10 closed, assigned to nobody

[2020-09-08 07:09] sakash279 commented on #27
@ordinaryorange  v2.0.0 is a preview version, and we are currently making minor updates to v.1.x series. I would suggest switching to the latest in that for a more stable version.
The Newtonsoft.Json dependency is used by the Tables SDK internally to serialize/deserialize entity requests, indexing policy to cosmosDB endpoint etc. I don't think the example you have above is the correct intent of th

[2020-09-08 07:09] #27 closed, assigned to nobody

[2020-09-09 13:15] rasmus-s commented on #25
Just testes at it worked fine with the latest NuGet versions.

[2020-09-11 00:16] sakash279 commented on #33
This is a storage service behavior to not distinguish values if they are null or don't have a value. At this point, given this would be a breaking change, we're not considering to remove this behavior in EntityProperty/DynamicTableEntity in the .NET sdk.

[2020-09-11 00:16] #33 closed, assigned to nobody

[2020-09-22 11:41] nafisabarlaskar opened #60 "System.Net.Sockets.SocketException while using DocumentClient"
Hi Team,

We are getting the following error while using DocumentClient:

A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.

Here are details with which the Cosmos connection was made:
Cosmos Nuget: Microsoft.Azure.DocumentDB.Core v2.9.2
Platform: .NET Core 3.1
MaxC

[2020-09-22 11:57] nafisabarlaskar commented on #60
Closing it as it got created in the wrong place

[2020-09-22 11:57] #60 closed, assigned to nobody

[2020-09-23 15:49] kyleherzog opened #61 "TableEntity.ConvertBack Throws NullReferenceException When Property Missing in TResult Type"
Using 2.0.0-preview

Originally, came across this issue because a class definition changed by having a property removed.  However, data with the old definition still existed in the table storage.

I've created the following test that exhibits the issue in a simplified manner.
[code]

Given the no schema nature of table storage, it seems like this shouldn't throw an exception, or at least there sho

[2020-09-26 13:07] george-zubrienko commented on #17
Hi Azure people,
I am big fan of your products, but THIS is outrageous. Just consider how convenient it was in the old library to do stuff like
[code]
Which allows to treat Azure Storage as a monolith and have a single DAL class for working with it. Now `CloudStorageAccount` exists in two separate packages and methods available for it are completely different. The cost of a rewrite is immense, but

[2020-10-02 05:55] PaulCheng commented on #23
This had been addressed in v1.0.7.
That said, TableEntityAdapter is not the usage pattern we want to support going forward. We'll mark it as obsolete in v.1.0.9 and remove in v2.0.0+.

[2020-10-02 05:55] #23 closed, assigned to nobody

[2020-10-02 06:00] PaulCheng commented on #61
This was addressed in v1.0.7.
That said, TableEntityAdapter is not the usage pattern we want to support going forward. We'll mark the class as obsolete in v.1.0.9 and remove in v2.0.0+. That applies to the ConvertBack method as well.
It's recommended to derive from TableEntity class.

[2020-10-02 06:06] PaulCheng commented on #61
@kyleherzog, there is no plan to fix this in 2.0.0-preview. Are you able to reference v1.0.8 instead?

[2020-10-02 11:07] PaulCheng commented on #42
If you use TableQuery.GenerateFilterCondition(nameof(TableEntity.PartitionKey), QueryComparisons.Equal, "'user@domain.com'"), it should work properly.

[2020-10-02 11:29] PaulCheng commented on #54
For storage table end point, Use TableQuery.Take() method.
    var query = new TableQuery().Where(...).Take(100);

[2020-10-03 16:48] kyleherzog commented on #61
We can't drop back to 1.0.8 at this point, as we are leveraging new functionality in the 2.0.0-preview and have been for many months now.  We had noticed that it was planned for the TableEntityAdapter to be removed in future versions, but didn't see any mention of the TableEnity.ConvertBack method being removed as well.

We do leverage the TableEntityAdapter a lot today.   The TableEntity.ConvertB

[2020-10-05 14:33] medevod commented on #52
I encountered similar behavior, the issue might be localized in internal TableEntity implementation of Microsoft.Azure.Cosmos.Table package ( ReadEntity method)

As a workaround, i use another TableEntity class by overriding ReadEntity method.
Its implementation was based on original Microsoft.WindowsAzure.Storage code.

All it's works very well but we still waiting for a fix

[2020-10-06 23:08] PaulCheng commented on #61
@kyleherzog ConvertBack is exclusively used by the derived TableEntityAdapter class throughout the table sdk code base.
In addition, there is no more feature work planned on 2.0.0-preview. We are working toward deprecating the internal cosmos execution mode, so the next 2.0+ version will again be a major release with many changes including namespace.
Can you create a support request from Azure Por

[2020-10-08 21:55] PaulCheng commented on #57
@WY-S You will need to copy StorageException properties to your own serializable class.

[2020-10-08 21:55] #57 closed, assigned to christopheranderson

[2020-10-08 21:57] PaulCheng commented on #61
please file a support request for further assistance or clarification.

[2020-10-08 21:57] #61 closed, assigned to PaulCheng

[2020-10-08 21:57] #54 closed, assigned to nobody

[2020-10-08 22:41] sakash279 commented on #14
This is typically an unsupported scenario. i.e. write using Tables SDK and read using DocumentClient (Power BI eventually). PowerBI needs to integrate and consume Tables SDK, which will allow such scenarios to be seamless for the users needs.

Given you are unblocked, I am going to close the issue for now.

[2020-10-08 22:41] #14 closed, assigned to nobody

[2020-10-15 13:49] alexchx commented on #30
@abhijitpai , @moderakh any update on this? We are blocked on the same issue too.

[2020-10-15 19:27] rcbevans opened #62 "Method not found: 'Microsoft.Azure.Cosmos.Fluent.CosmosClientBuilder Microsoft.Azure.Cosmos.Fluent.CosmosClientBuilder.WithConnectionModeGateway(System.Nullable`1<Int32>)'."
** SDK version
2.0.0-preview

** Issue reproduce steps
Add Microsoft.Azure.Cosmos.Table to a project which has a dependency on any version of Microsoft.Azure.Cosmos >= 3.3.0, released on October 30 2019.

This problem was introduced by a breaking API change in Microsoft.Azure.Comos on 9/4/19: https://github.com/Azure/azure-cosmos-dotnet-v3/commit/b101e6ca9513ec19a522f4ba8df35c62e113a25c.

The sign

[2020-10-15 20:56] PaulCheng commented on #62
will fix and release next week

[2020-10-20 06:16] PaulCheng commented on #19
We'll start to deprecate TableEntityAdapter in the future releases.

[2020-11-06 14:46] distorx opened #63 "Functions stop when missing fields from table storage"
Even using try and catch I could get a clear error when trying to do a this code:
var query = new TableQuery<MasterEntity>().Take(10);
var result = await table.ExecuteQuerySegmentedAsync(query, null);
and I removed a field in the table but forgot to remove the field in my class. I spend hours try to figure out why the function was stopping.

[2020-11-12 13:42] jhorgan commented on #19
Hi @PaulCheng what should consider in the future if TableEntityAdapter is being deprecated? We currently use it to keep our entities agnostics from any persistence concerns - POCOs.

Thanks.

[2020-11-13 07:49] PaulCheng commented on #19
One has to implement an Adapter like class on his own if he really doesn't want to extend the Entity model from TableEntity. We should document a sample or publish a sample app when we deprecate Adapter.

[2020-11-21 03:00] golfalot opened #64 "validate RowKey and PartitionKey in TableEntity for disallowed characters before making API call to Azure Storage"
The error messages are spectacularly unhelpful in pinpointing the precise root cause when the error occurs. So instead of dealing with Storage Account errors, why not validate on the client side when the entity object is created in the first place ?

** 1.0.8
** Azure Table Storage (legacy, not Cosmos), try to insert TableEntity  with a forward slash in the text of the RowKey
** consistent
** Stor

[2020-12-11 14:39] Commochief opened #65 "Microsoft.Azure.Cosmos.Table Insert(ITableEntity entity) Method Causes Unrecoverable Corruption in Table"
Describe the bug
Creating a data migration tool for government customer. There are >100 databases and data tables collected over many years. Many were created by Microsoft Access. The "id" fields are unreliable due to duplications. The plan is to bring them into Cosmos DB Tables and the post import scrub the data.
We are attempting to preserve all the existing records (government retention policy)

[2020-12-11 14:40] Commochief commented on #65
@laultman - New Issue for tracking, see if they come with feedback

[2020-12-15 06:15] AnakinBing commented on #41
Hi,
Use Reflection.

public T Get<T>(string partitionKey, string rowKey)
        {
            try
            {
                TableOperation operation = TableOperation.Retrieve<TableEntityAdapter<T>>(partitionKey, rowKey);
                TableResult result = table.Execute(operation);
                TableEntityAdapter<T> TableT = result.Result as TableEntityAdapter<T>;
                T t = Ta

[2020-12-15 06:18] AnakinBing commented on #41
Hi
Use Reflection.

`public T Get<T>(string partitionKey, string rowKey)
        {
            try
            {
                TableOperation operation = TableOperation.Retrieve<TableEntityAdapter<T>>(partitionKey, rowKey);
                TableResult result = table.Execute(operation);
                TableEntityAdapter<T> TableT = result.Result as TableEntityAdapter<T>;
                T t = Ta

[2020-12-15 06:20] AnakinBing commented on #41
Hi,
Use Reflection.

public T Get<T>(string partitionKey, string rowKey)
{
    TableOperation operation = TableOperation.Retrieve<TableEntityAdapter<T>>(partitionKey, rowKey);
    TableResult result = table.Execute(operation);
    TableEntityAdapter<T> TableT = result.Result as TableEntityAdapter<T>;
    T t = TableT.OriginalEntity;
    PropertyInfo[] propertyInfos = typeof(T).GetProperties();

[2020-12-16 21:27] Andrei15193 opened #66 "Make CloudTable.Exists Virtual"
* SDK version: 1.0.8
* Issue reproduce steps: Try to override Exists method
* Whether the issue is consistent or sporadic: Consistent
* Environment Summary: I'm currently developing a small library that offers an in-memory implementation of CloudTable to use in testing, all other methods regarding table operations are virtual and I can override them, but the Exists method (and the ones regarding s

[2020-12-24 13:38] kAleksei opened #67 "Exception "Parameter count mismatch" while using TableEntity.Flatten for entities with properties of list type."
System.Reflection.TargetParameterCountException: Parameter count mismatch.
I'm trying to flatten and save a complex object that has a Dictionary.
So I found the closed issue with the same question (https://github.com/Azure/azure-cosmos-table-dotnet/issues/29).
The solution was to use [ObjectFlattenerRecomposer](https://www.nuget.org/packages/ObjectFlattenerRecomposer/), but it has some assembly re

[2021-01-06 01:48] tofer commented on #16
Having the same issue with `Microsoft.Azure.Cosmos.Table 1.0.8`. Any update to this? Has anyone found a workaround? My data set is quite large and not practical to edit the data, and I am mostly committed to the new library now. In my case, this exception is being thrown when I have empty strings in Edm.Double fields.

[2021-01-07 06:59] PaulCheng commented on #67
Flatten() will be deprecated along with TableEntityAdapter in the future releases.

[2021-01-07 07:13] PaulCheng commented on #66
CloudTable Exists method will be deprecated in the future releases.

[2021-01-07 08:08] RyanMarcotte opened #68 "Creating a table with IndexingMode.None throws an exception"
SDK v1.0.7

[code]

[code]

[2021-01-07 08:11] RyanMarcotte commented on #68
Based on a ReSharper C# dump, in `CloudTable.cs`

[code]

[2021-01-07 08:37] PaulCheng commented on #68
This would be a bug in SDK, which we should fix in the future release.
The current workaround is to update indexing policy on azure portal under Data Explorer.

[2021-01-07 20:28] Andrei15193 commented on #66
Will ExistsAsync still be available? What about other synchronous operations?

[2021-01-08 08:22] PaulCheng commented on #66
@Andrei15193 You can take a look of the new SDK. it's in beta4.
https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/tables/Azure.Data.Tables

[2021-01-08 10:45] Andrei15193 commented on #66
@PaulCheng oh, I see. Lots of changes happening. Will the new [Azure.Data.Tables](https://www.nuget.org/packages/Azure.Data.Tables) package replace [Microsoft.Azure.Cosmos.Table](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table) NuGet package for working with Azure Table Storage?

[2021-01-08 11:08] PaulCheng commented on #66
Yes, Azure.Data.Tables is meant to be used against both Storage Table and CosmosDB Table API endpoints.

[2021-01-09 13:03] Andrei15193 commented on #66
Cool, thanks for the info! Is it ok if I close the ticket?

[2021-01-10 12:02] #67 closed, assigned to nobody

[2021-01-11 05:06] #66 closed, assigned to nobody

[2021-01-12 07:22] PaulCheng commented on #16
to retrieve double.NaN value, set table.ServiceClient.DefaultRequestOptions.PayloadFormat = TablePayloadFormat.JsonNoMetadata;

[2021-01-12 17:07] tofer commented on #16
Thanks @PaulCheng. At first I thought this worked (as the query was successful), however now all `DynamicTableEntity.Properties` are `String` values in the response. Any suggestions?

[2021-01-12 18:35] tofer commented on #16
It seems like there is a bug in the `TableOperationHttpResponseParsers.ReadSingleItem` static method. While the documentation for [Property Types in a JSON Feed](https://docs.microsoft.com/en-us/rest/api/storageservices/payload-format-for-table-service-operations#property-types-in-a-json-feed) lists `Edm.Double` as a non-required annotation, it does say:

However, the `ReadSingleItem` method does

[2021-01-14 10:42] johanclasson opened #69 "Batch operations using custom JsonConvert.DefaultSettings fails"
## SDK version
Microsoft.Azure.Cosmos.Table 1.0.8

I believe that the issue is not present in Microsoft.Azure.Cosmos.Table 2.0.0-preview.

## Issue reproduce steps

[code]

ExecuteBatchAsync-method fails when `connectionString` is for CosmosDB Table API.

If the `connectionString` is changed targeting Table Storage the code works.

Commenting out the line `settings.Converters.Add(new StringEnumCon

[2021-01-26 19:54] tofer commented on #16
Another oddity when using `TablePayloadFormat.JsonNoMetadata`: Date values stored as strings with EdmType.String get converted to UTC.

I queried table storage directly to confirm it was not the service changing the value:
![image](https://user-images.githubusercontent.com/1517583/105897136-a4ee9b80-5fcc-11eb-88f4-6ab82ca642d1.png)

But then in the `DynamicTableEntity.Properties["_Date"]` is `EdmT

[2021-03-17 02:56] Oxymoron290 opened #70 "Missing timestamp on entity creation"
Timestamps are not returned on successful insert operation.

I created my entity by inheriting the `TableEntity` class

[code]

Then I perform an `InsertOrMerge` table operation:

[code]

I would expect `result.Result.Timestamp` to have the correct timestamp that the entity was saved with, however it does not. Here is the JSON serialized output of `result` after execution:

[code]

Notice how Time

[2021-04-12 13:56] Sossenbinder commented on #17
I just started stumbling across this as well when trying to convert a codebase still working with the old Microsoft.WindowsAzure package.

I'm really wondering what the design decision behind duplicating this was. The old API had blob and tablestorage in one package and running under one CloudStorageAccount. The new one now has two of them. I thought the logical consequence would be that this was

[2021-04-27 18:23] KyleMit commented on #52
Related [StackOverflow thread](https://stackoverflow.com/q/62679776/1366033)

[2021-04-28 14:29] DannyvanderKraan opened #71 "Can't call CreateIfNotExists() on CloudTable with serverless offering"
** SDK version **
Microsoft.Azure.Cosmos.Table 1.0.7

** Issue reproduce steps **
I am using CosmosDB with Table API and serverless offering. I try to call CreateIfNotExists() on CloudTable. If fails with the following exception:

[2021-04-23T14:11:34.163Z] Executed 'HandleAddressChanged' (Failed, Id=6b4c570a-3d23-4dd8-9643-58893e368efb, Duration=20123ms)
[2021-04-23T14:11:34.164Z] System.Private.

[2021-04-29 23:37] sakash279 commented on #71
Serverless table creation with the .NET Tables SDK works in REST mode only. You need to :

TableClientConfiguration config = new TableClientConfiguration();
config.UseRestExecutorForCosmosEndpoint = true;
CloudTableClient tableClient = storageAccount.CreateCloudTableClient(config);
Console.WriteLine("Create a Table for the demo");

// Create a table client for interacting with the table service
Cl

[2021-04-30 07:36] DannyvanderKraan commented on #71
@sakash279 Tested this and this works. Thank you. But how should I see this? As a workaround for the time being? Thank you.

[2021-04-30 16:11] sakash279 commented on #71
The long term goal is to only support REST mode for CosmosDB service, and transition to Azure.Data.Tables SDK :
https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/tables/Azure.Data.Tables

If the switch to the other SDK is not possible, Microsoft.Azure.Cosmos.Table SDK is fine to use for now. We would suggest using REST mode for your application.

However, if you run into issues in REST mo

[2021-05-03 07:25] DannyvanderKraan commented on #71
Azure.Data.Tables is certainly possible for us. In fact, it performs better in my little tests than Cosmos.Table. So we'll be switching SDK. Thank you very much for the information. I didn't know about Azure.Data.Tables.

[2021-05-03 17:55] sakash279 commented on #71
Thanks @DannyvanderKraan for letting us know. Is it possible to share any perf comparison results you might have done so far between the SDKs over here, so we can use it as a baseline for comparison for the SDKs?

In addition, issues on Azure.Data.Tables can be filed on the same repo, and will be picked up by the corresponding team.

I am going to close this issue, as you have a better solution no

[2021-05-03 17:55] #71 closed, assigned to nobody

[2021-05-18 10:55] dzmitry-lahoda commented on #10
Is still holds to create singleton per domain for the latest Cosmos Table API client?

[2021-05-28 00:14] pieandcakes opened #72 "CloudTable leaves around HttpClients"
** SDK version
1.0.8
** Issue reproduce steps
Create one CloudTableClient

in a loop with the same table name:
Call tableClient.GetTableReference(tableName);
call table.CreateIfExistsAsync()
call Table.ExecuteAsync() with a query

We do this in a app 4-6 times per page load and we're noticing a lot of HttpClients left behind. In our production Azure App Service, we're running out of sockets within

[2021-05-28 00:20] pieandcakes opened #73 "Symbols and Source are not archived for this project"
** SDK version
1.0.8
** Issue reproduce steps
Debug an application that uses the library. Point to http://symweb or internal AzDevOps Symbol server. Notice it can't find symbols or source (no source archiving)
** Whether the issue is consistent or sporadic
consistent
** Environment Summary
Windows 10
** Any other context, such as stack trace or log.

[2021-06-03 00:47] ghost commented on #16
@tofer I'm having same issue and my entities have _Infinity_ value for Property of type Edm.Double. Did you find any work around to ignore such values and proceed with rest of the entity?
I updated Microsoft.Azure.Cosmos.Table to version 1.0.8 but its just showing a better exception message compared to v1.0.7. Here is what I see now:
`Cannot return Double type for a String typed property.`
`StackT

[2021-06-03 01:07] tofer commented on #16
@skdev123 I never got a viable solution working other than the suggested `PayloadFormat = TablePayloadFormat.JsonNoMetadata` workaround. Like I stated in one of my replies that makes every EntityProperty have a string value, so I had to do custom mapping and parsing from there to the object I wanted.

[2021-06-04 14:59] DannyvanderKraan opened #74 "Object is always read as string"
Package:
`<PackageReference Include="Azure.Data.Tables" Version="12.0.0-beta.8" />`

I have the following entity:

[code]

As you can see PropertyInfoValue  is of type object.

I initialize the entity like so:
[code]

Notice that PropertyInfoValue is a DateTime. When I  insert this item via AddEntityAsync in the TableClient I can see in Azure Portal the entity is inserted as expected.

But when I

[2021-07-09 08:40] pw-nable commented on #40
@sakash279 - after upgrading oData from 7.6.4 to 7.9 I started getting this error again:
Microsoft.Azure.Cosmos.Table.StorageException: Method 'Visit' in type 'QueryTokenVisitor' from assembly 'Microsoft.Azure.Cosmos.Table, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' does not have an implementation.

[2021-07-15 10:33] aleksandervalle opened #75 "Does CloudTable methods throw exceptions?"
More a question (or documentation issue):

The [documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.table.cloudtable?view=azure-dotnet) doesn't list any exceptions (I'm mostly thinking of methods Execute/ExecuteAsync).

Found some error codes listed here:
https://docs.microsoft.com/en-us/rest/api/storageservices/table-service-error-codes

If something goes wrong, can

[2021-07-22 08:45] paulhickman-a365 opened #76 "Is this API still under active development?"
Is this the current API we should be using to access Cosmos & Table storage from .Net code, or has it been replaced with an alternative?

It's been nearly 2 years since the preview release of 2.0

[2021-08-05 10:53] johansme commented on #76
Looks like the have replaced this repo completely without bothering to mention it here. At least there is a new table API at [Azure.Data.Tables](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/tables/Azure.Data.Tables), that conforms to the new guidelines. They also have a migration guide for migrating from `Microsoft.Azure.Cosmos.Table` to `Azure.Data.Tables`.

[2021-08-23 07:24] raiajithkumar05 opened #77 "Upgrading Package From Microsoft.WindowsAzure.Storage.Table 9.1.0 to Microsoft.Azure.Cosmos.Table 1.0.8.0 Started Facing issue : "the system lacked sufficient buffer space or because a queue was full""
** Microsoft.Azure.Cosmos.Table 1.0.8.0
** After performing Performance (load) test we are facing this ISSUE.
** This issue is consistent after load test.
** The STG (Service Fabric application)
** Call stack

[
  {
    "HasFullStack": true,
    "ParsedStack": [
      {
        "Assembly": "Microsoft.Azure.Cosmos.Table, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35",
        "F

[2021-08-24 04:22] raiajithkumar05 commented on #77
Hi Team,
Could you please help us on this Issue.

[2021-08-30 22:59] mario-guerra opened #78 "Microsoft.Azure.Cosmos.Table 2.0.0-preview needs to be deprecated"
Track 2 SDKs for table storage have been released and we want to encourage customers to use the new packages. To that end, all existing track 1 packages need to be deprecated.

[Microsoft.Azure.Cosmos.Table 2.0.0-preview](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table/2.0.0-preview) needs to be deprecated as per our [guidelines for preview releases](https://dev.azure.com/msazure/Azure

[2021-08-30 23:03] mario-guerra opened #79 "Microsoft.Azure.CosmosDB.Table 2.1.2 needs to be deprecated"
Track 2 SDKs for table storage have been released and we want to encourage customers to use the new packages. To that end, all existing track 1 packages need to be deprecated.

[Microsoft.Azure.CosmosDB.Table](https://www.nuget.org/packages/Microsoft.Azure.CosmosDB.Table/) 2.1.2 needs to be deprecated as per our [guidelines for GA releases](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/inte

[2021-08-30 23:12] mario-guerra opened #80 "WindowsAzure.Storage-PremiumTable 0.1.0-preview needs to be deprecated"
Track 2 SDKs for table storage have been released and we want to encourage customers to use the new packages. To that end, all existing track 1 packages need to be deprecated.

[WindowsAzure.Storage-PremiumTable 0.1.0-preview](https://www.nuget.org/packages/WindowsAzure.Storage-PremiumTable/0.1.0-preview) needs to be deprecated as per our [guidelines for preview releases](https://dev.azure.com/msa

[2021-08-30 23:18] mario-guerra opened #81 "WindowsAzure.Storage.Table-Preview 3.2.0-preview needs to be deprecated"
Track 2 SDKs for table storage have been released and we want to encourage customers to use the new packages. To that end, all existing track 1 packages need to be deprecated.

[WindowsAzure.Storage.Table-Preview 3.2.0-preview](https://www.nuget.org/packages/WindowsAzure.Storage.Table-Preview/3.2.0-preview) needs to be deprecated as per our [guidelines for preview releases](https://dev.azure.com/m

[2021-08-30 23:20] mario-guerra opened #82 "WindowsAzure.Storage-Preview 3.2.0-preview needs to be deprecated"
Track 2 SDKs for table storage have been released and we want to encourage customers to use the new packages. To that end, all existing track 1 packages need to be deprecated.

[WindowsAzure.Storage-Preview 3.2.0-preview](https://www.nuget.org/packages/WindowsAzure.Storage-Preview/3.2.0-preview) needs to be deprecated as per our [guidelines for preview releases](https://dev.azure.com/msazure/Azure

[2021-08-31 19:44] sdandu21 opened #83 "Access token to connect to Cosmos Tables"
Can you connect to Cosmos DB Tables using an access token? Is it possible to create a client that takes an access token to initialize and can interact with the tables in Cosmos?

[2021-09-03 15:38] sdandu21 commented on #83
Got confirmation from Cosmos team that MSI authentication for Cosmos Tables is not supported at this time.

[2021-09-03 15:38] sdandu21 commented on #83
Got confirmation from Cosmos team that MSI authentication for Cosmos Tables is not supported at this time.

[2021-09-03 15:38] #83 closed, assigned to nobody

[2021-12-22 08:12] OzBob commented on #76
a blog post on upgrading to Azure.Data.Tables
but no reference to [Table] binding
https://devblogs.microsoft.com/azure-sdk/announcing-the-new-azure-data-tables-libraries/
a migration guide:
https://github.com/Azure/azure-sdk-for-net/blob/737829359b2a7912a9ccb2ca925e1b6ec25da8cf/sdk/tables/Azure.Data.Tables/MigrationGuide.md

[2022-01-03 14:12] metu commented on #37
To have the SDK cater for IHttpClientFactory or your own implementation for SocketsHttpHandler is really needed. CosmosDB's sdk has a really nice implementation. Would be great if table storage also did.

Thanks for the code though @HansOlavS ! But yea, really would be so much better if the SDK came out with its own.

.... if it does and I'm just not googling well, please point me in the right dir

[2022-01-03 21:03] HansOlavS commented on #37
Check out the Azure.Data.Tables nuget! I checked out a beta version way back and it looked really nice! (forget my old post!!)

[2022-01-04 07:27] metu commented on #37
Thanks for that! Had to rewrite/discard a lot of our code to work with the new package but with that I was able to use IHttpClientFactory to provide an instance of HttpClient for everything that needed it in our Api i.e. Cosmos, Table, and Blob. It prevented Socket Exhaustion issues and with a bit of Dependency Injection rework we were able to get a very efficient API.

[2022-02-01 15:24] BadgerCode commented on #54
For anyone else who finds this, set the `TakeCount` property on your query to limit this.
`TableRequestOptions.TableQueryMaxItemCount` does nothing.

[code]

[2022-02-10 21:20] DieterGobeyn commented on #72
I am experiencing the same issue, because of this, we have socket exhaustion.
Netstat shows hundreds of established connections to the Azure cloud storage IP.

IMO this is definitely a bug.

[2022-02-21 05:45] e212156822000 opened #84 "UseRestExecutorForCosmosEndpoint Migrating Guideline from v1.0.8 to v.2.0.0-preview"
## Issue
I'm using Microsoft.Azure.Cosmos.Table, and hoping to migrate it from v1.0.8 to v2.0.0-preview. Below is my code snip, but I found `UseRestExecutorForCosmosEndpoint` is no longer used in v2.0.0-preview.
[code]
## Asking
In v2.0.0-preview, there is no `UseRestExecutorForCosmosEndpoint` for program to specify a REST mode. What is the default mode in v2.0.0-preview? How do I specify the REST

[2022-02-21 09:41] pitscherer commented on #84
Jolin,

The package you are referencing is deprecated. Please have a look at this link:
https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table/2.0.0-preview?_src=template

Peter

[2022-02-22 06:30] e212156822000 commented on #84
You're right. Thanks for the prompt information.

[2022-02-22 06:30] #84 closed, assigned to nobody

[2022-03-02 14:02] Edgar81 commented on #78
Shouldn't all version of this package be deprecated? For instance 1.0.8 is not deprecated, although it depends on Microsoft.Azure.DocumentDB.Core - a package that is deprecated.

Thank you!

[2022-03-02 16:21] mario-guerra commented on #78
Yes, we're working on deprecating a large number of older releases, to be announced at the end of the month.

[2022-03-08 18:17] iant-ee commented on #40
This has not been fixed. I assume there must be a particular other dependency or similar we've got that's causing the problem, because this makes the project unusable and there aren't loads of people shouting about it.

Our code:

` var cloudTable = GetTable();`
` var query = new TableQuery<T>().Where(TableQuery.GenerateFilterCondition("PartitionKey", QueryComparisons.Equal, partitionKey));`
` ret

[2022-03-08 22:40] sakash279 commented on #40
@iant-ee - Yes, please update with your findings here. It must be a specific dependency in your projects that's causing this conflict I'd guess.

In addition, please consider evaluating this client library for your needs going forward.
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/tables/Azure.Data.Tables/README.md

It'll require a rewrite given interfaces have changed. This will be the

[2022-03-09 17:52] iant-ee commented on #40
@sakash279 Thanks for your advice. We're not doing anything particularly complicated with Azure Tables, so I was able to migrate to Azure.Data.Tables. The migration took me about 2 - 3 hours, which is less than the time I've spent debugging the old version.

I don't see this error after the migration to Azure.Data.Tables.